footer
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          ul.list-inline.text-center(id="icon-list")
            li.list-inline-item
              a(href='https://twitter.com/JozeRozay')
                span.fa-stack.fa-lg
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-twitter.fa-stack-1x.fa-inverse
            li.list-inline-item
              a(href='http://github.com/icancode007')
                span.fa-stack.fa-lg
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-github.fa-stack-1x.fa-inverse
            li.list-inline-item
              a(href='https://www.reddit.com/user/Frodriguez26/')
                span.fa-stack.fa-lg
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-reddit.fa-stack-1x.fa-inverse
            li.list-inline-item
              a(href='https://www.linkedin.com/in/devfrguez/')
                span.fa-stack.fa-lg
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-linkedin.fa-stack-1x.fa-inverse

          p.copyright.text-muted Copyright © JRguez 2019
// Bootstrap core JavaScript
script(src='vendor/jquery/jquery.min.js')
script(src='vendor/popper/popper.min.js')
script(src='vendor/bootstrap/js/bootstrap.min.js')
// Custom scripts for this template
script(src='javascripts/clean-blog.min.js')
script(src="javascripts/helpers.js")