nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container
      a(href='/', id='nav-left') 
        |JoseRodriguez
        small(id="tituloProg") :{Full Stack Developer}
    
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        i.fa.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto(id='nav-right')
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/about') About
          li.nav-item
            a.nav-link(href='/projects') Projects
          li.nav-item
            a.nav-link(href='/contact') Contact