extends layout

block content
 //Page Header
 header.masthead(style="background-image: url('images/aboutwallp.png'); filter:grayscale(100%);" id="aboutheader")
  .container
    .row
        .col-lg-8.col-md-10.mx-auto
            .page-heading
                h1 About Me
                span.subheading Busy Learning
 // Main Content
 .container
    .row
        .col-lg-8.col-md-10.mx-auto(id="rowContainer")
            p(id="aboutIntro")
                | I'm a New York based Full Stack Web developer. I have worked on many technologies such as 
                span.negritas React Js, Redux, Express Js, Ruby on rails and others.
            ul(id="aboutList" style="list-style-image: url('images/gold.svg')")
                |What I've been working on lately?
    
                li.listright 
                    span.li-content A Sports React App that makes players and teams statistics easier to access and read than other sites.

                li.listright 
                    span.li-content A Rails based Rent-car Administrative app where Administrators can easily add Vehicles by their classifications and then make them available for clients to rent them.

                li.listright 
                    span.li-content Reading and Learning more about data structure, time complexity and efficiency.

                li.listright 
                    span.li-content Teaching basic javascript to 7th and 8th graders.           
 hr
 //Footer
 include partials/_footer