extends layout

block content
  // Page Header
  header.masthead(id="homehead")
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .site-heading 
            h1 Software Engineer
            span.subheading Lifelong learner
  // Main Content
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .blog-post(id="contenedor_de_articulos")
          p.postTitle
            | I am a New York-based Software Engineer curious for knowledge that can lead to real world solutions. For some time I have been immersed in Full-Stack Web Development with technologies such as Node Js, Ruby on rails, React with redux Js and other Web programing skills.
          br
          
        hr
        small.post_meta
            |" Ever tried, ever failed, no matter, try again, fail again, fail better. " Beckett
   
  //- Not Intending to use form right now      
        // Pager
        .clearfix(hidden)
          a.btn.btn-secondary.float-right(href='#') Older Posts →
    .row
      .col-lg-8.col-md-10.mx-auto#paraPost 
         each post in posts 
            div
              h6 
                |- #{post.body} 
              small 
                |#{post.alias}
    .row
      .col-lg-8.col-md-10
        #commentToggle
          h4 Click to Comment 
           span <
        

    .row
        .col-lg-3
        .col-lg-6
          <form id="postForm" method="post" action="/post">
            <div class="form-group">
              <input name="alias" type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <textarea name="body" class="form-control" rows="3" placeholder="Add on to my quote"></textarea>
            </div>
            <button type="submit" class="btn btn-dark">Post</button>
          </form>
        .col-lg-3
  hr(hidden)
  //Footer
  include partials/_footer
