extends layout

block content
  // Page Header
  header.masthead(style="background-image: url('images/homepage.png');background-position:top")
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .site-heading 
            h1 Programming Blog
            span.subheading My latest experiences in the programming world
  // Main Content
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .blog-post(id="contenedor_de_articulos")
          a(href='post.html')
            h2.post_title
              | Failure is not an option
            h3.post_subtitle
              | Many say exploration is part of our destiny, but it’s actually our duty to future generations.
          p.post_meta
            | Posted by
            a(href='#') Start Bootstrap
            |               on July 8, 2017
        hr
        // Pager
        .clearfix
          a.btn.btn-secondary.float-right(href='#') Older Posts →
  hr
  //Footer
  include partials/_footer