extends layout

block content
  // Page Header
  header.masthead(style="background-image: url('images/homepage.png');background-position:top")
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .site-heading 
            h1 Programming Blog
            span.subheading My latest experiences in the programming world
  // Main Content
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .blog-post(id="contenedor_de_articulos")
          a(href='#')
            h2.post_title
              | " Ever tried, ever failed, no matter, try again, fail again, fail better. " Beckett
            h3.post_subtitle
              | keep failing until you succedd.
          p.post_meta
              |on June, 2018
        hr
        // Pager
        .clearfix(hidden)
          a.btn.btn-secondary.float-right(href='#') Older Posts →
    .row
      .col-lg-8.col-md-10.mx-auto#paraPost 
         each post in posts 
            div
              h6 
                |- #{post.body} 
              small 
                |#{post.alias}
    .row
      .col-lg-8.col-md-10
        #commentToggle
          h4 Click to Comment 
           span <
        

    .row
        .col-lg-3
        .col-lg-6
          <form id="postForm" method="post" action="/post">
            <div class="form-group">
              <input name="alias" type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <textarea name="body" class="form-control" rows="3" placeholder="Add on to my quote"></textarea>
            </div>
            <button type="submit" class="btn btn-dark">Post</button>
          </form>
        .col-lg-3
  hr(hidden)
  //Footer
  include partials/_footer
