extends layout

block content
 //Page Header
 header.masthead(style="background-image: url('images/aboutwallp.png'); filter:grayscale(80%);")
  .container
    .row
        .col-8.col-md-10.mx-auto
            .page-heading
                h1 My Projects
 // Main Content
 .container
    #note
        h4  
            span(id="redNote") Note:
            | Hover on the Projects Imgs for a quick Description, you can also click on the features to preview their functionality.
        h4 | |
        h4 | |
        h4   
            span(id="BigV") V

    #noteFormobile(style="display:none")
         h4  
            span(id="redNote") Note:
            | click on the links to follow the project's url
         h4 | |
         h4 | |
         h4   
            span(id="BigV") V
    .row(id="projectRow")
        .col
            h1 Bettergram
        .col(id="incasepc")
            .d-flex.justify-content-end(id='thecFbox')
                .p-2.technology
                    h5 Technologies:
                .p-2.technology
                    img.portrait(src='images/technologies/express.png')
                .p-2.technology
                    img.portrait(src='images/technologies/node.png')
                .p-2.technology
                    img.portrait(src='images/technologies/sequelize.png')
                .p-2.technology
                    img.portrait(src='images/technologies/aws.png')
    .mobile-control(id="incasemobile" style="display:none")
        h6 Technologies:        
        p
            | ExpressJs
        p
            | Nodejs
        p
            | Sequelize
        p
            | Aws
    hr
    .row
        .col-lg-4(id="portraitContainer")
            .blurContainer
                img.imgReference(src="images/BGhomepage.png" )
                .description 
                    .text
                        |An Instagram Clone application that contains some of the features that the real instagram has. Some of these features are likes,comments,profiles and others.
        
        .col-lg-2(id="projectModels")
                ul.featureList 
                    span.fTitle Features
                    li.feature(data-url="like") Like 
                    li.feature(data-url="post") Post 
                    li.feature(data-url='feed') Feed
                    li.feature(data-url="profile") Profile
                    li.feature(data-url="comment") Comment
        .col-lg-6(id="gifContainer")
            img(src="images/Bettergram/like.gif", alt="NO FIlE" id="projectImg")
    .row(id="link_to_project" style="display:none") 
        a(href="https://github.com/icancode007/instagram-clone") Bettergram/Github

    hr
    .row(id="projectRow2")
        .col
            h1 Articles Blog
        .col(id="incasepc2")
            .d-flex.justify-content-end(id='thecFbox2')
                .p-2.technology
                    h5 Technologies:
                .p-2.technology
                    img.portrait(src='images/technologies/ruby.png')
                .p-2.technology
                    img.portrait(src='images/technologies/rails.png')
                .p-2.technology
                    img.portrait(src='images/technologies/sqlite.png')
                .p-2.technology
                    img.portrait(src='images/technologies/gravatar.png')
    .mobile-control(id="incasemobile2" style="display:none")
        h6 Technologies:        
        p
            | Ruby
        p
            | Rails
        p
            | SQlite
        p
            | Gravatar        
                
    hr
    .row
        .col-lg-4(id="portraitContainer2")
            .blurContainer
                img.imgReference(src="images/articlespg.png" )
                .description 
                    .text
                        |A Blog of articles that can be classified. It also features an Admin profile that has power over user and its articles.
        
        .col-lg-2(id="projectModels2")
                ul.featureList 
                    span.fTitle Features 
                    li.feature2(data-url="articlecreate") Article
                    li.feature2(data-url="userdelete") DeleteUser
                    li.feature2(data-url='auth') Authenticate
                    li.feature2(data-url="uservsadmin") UserVsAdmin
                    li.feature2(data-url="articledelete") ArticleDelete
        .col-lg-6(id="gifContainer2")
            img(src="images/AlphaBlog/articlecreate.gif", alt="NO FIlE" id="projectImg2")
    .row(id="link_to_project2" style="display:none") 
        a(href="https://github.com/icancode007/rails-blog-app") ArticlesBlog/GitHub
 //Footer
 include partials/_footer