nav{
    .container{
       #nav-left{
            color:black;
            font-family:'Paytone One', sans-serif;
            text-decoration: none;            
            width: 480px;
        }
        @media screen and (min-width: 500px){
            #tituloProg{
                display:none
            }
        }
        #nav-left:hover{
            color:#b8b894;
        }
        #navbarResponsive{
            #nav-right{
                li{
                    a{
                        color:black;
                    }
                    a:hover {
                        color: #e0e0d1;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
 
#contenedor_de_articulos{
    a{
        text-decoration: none !important;
        h2,h3{
            font-family:'Paytone One', sans-serif;
            color:#b8b894;    
        }
    }
    a:hover {
        h2,h3 {
            font-family: 'Paytone One', sans-serif;
            color: black;
        }
    }

    .postTitle {
        font-weight: bold
    }

}


.col-lg-6{
    form{
        display: flex;
        flex-direction: column;
        button{
            align-self: center;
        }
    }
}

#paraPost{
    div{
        box-shadow: 1px 1px 1px;
        margin:8px;
          small {
              display: flex;
              font-family: 'Paytone One', sans-serif;
              opacity: 0.6;
              justify-content: flex-end;
              font-size: x-small;
              padding-right: 5%;
          }
    }
}

#commentToggle{
    display: flex;
    justify-content: center;    
    
}
#commentToggle:hover {
    animation:ninetyDeg 2s linear infinite;
    // span{
    //     animation:ninetyDeg 2s linear infinite;
    // }
}

footer{
    .container{
        .row{
            .col-lg-8{
                #icon-list{
                    li{
                        a{ 
                            color:#b8b894;
                        }
                         a:hover {
                             color: black;
                         }
                    }
                }
            }
        }
    }
}
//Animations
@keyframes rotateIcons {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes ninetyDeg {
     0% {
         transform: rotate(0deg);
     }

     25% {
         transform: rotate(5deg);
     }

     50% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(-5deg)
     }
}      
form .btn-dark{
    margin: 0 auto;
}

i:hover{
    animation: rotateIcons 2s linear infinite;
} 
            
//About Page

#aboutIntro{
    .negritas{
        text-align: center;
        font-weight: bold;
    }
}
.aboutH4{
    text-align: center;
    box-shadow:1px 1px 1px 1px #757506;
}
#aboutList{    
    .listright{
        margin-top:15px;
        font-size: 28px;
    
        .li-content{
            font-size: 20px;
        }
    }
  
}

//Projects Page

#projectRow,#projectRow2{
    margin-top:120px;
}

#note,#noteFormobile{
    h4 {
        color: #757506;
        text-align: center;
            #redNote{
        color:red;
        margin-right: 4px;
        }
        #BigV{
            font-size: 45px;
        }
    }

}
#thecFbox,#thecFbox2{
    .technology{
        h5 {
            margin-top: 15px;
        }
        .portrait{
            width: 85px;
            height:50px;
            margin-left: 10px;
            margin-right: 5px;
        }
    }
}
#portraitContainer,#portraitContainer2{
    .blurContainer{
        position: relative;
        width: 100%;
        height: 300px;
        .imgReference{
            opacity: 1;
            display: block;
            width:100%;
            height: 300px;
            transition: .5s ease;
            backface-visibility: hidden;
            border-radius: 8px;
        }
        .description{
            transition: .5s ease;
            opacity: 0;
            position: absolute;
            top: 44%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            .text{
                color:black;
                font-size: 20px;
                font-weight: bolder;
            }
        }
    }
    .blurContainer:hover .imgReference {
        opacity: 0.3;
        filter:blur(2px) brightness(55%);
        box-shadow: 0 0 56px 0 #757506;
        }
    .blurContainer:hover .description{
        opacity: 1;
        }
}
#incasemobile,#incasemobile2{
        text-align: center;
        font-size: 14px;
        p {margin:-2px;}
}
#link_to_project,#link_to_project2{
    a:hover{
        color:#757506;
    }
}
//Media Queries
@media screen and (max-width:960px){
    #incasemobile,#incasemobile2{
        display: block !important;
    }
    #projectRow,#projectRow2{
        .col{
            h1{
                text-align: center;
            }
        }
    }
    #note{
        display: none;
    }
    #noteFormobile{
        display: block !important;
    }
    #aboutList{
        margin-right: 20px;
    }
    #link_to_project,#link_to_project2{
        text-align: center;
        display: block !important;
    }
    #projectRow{
        .col{
            h1{
                text-align: center;
            }
        }
        #incasepc{
            display: none;
        }
        #incasemobile{
            display:inline;
        }
    }
    #projectRow2{
        #incasepc2{
            display: none;
        }
    }
    #projectModels,#projectModels2{     
        .featureList{
            display: none;
        }
    }
    #gifContainer,#gifContainer2{
        display: none;
    }
}
@media screen and(max-width:1000px){
    #projectModels,
    #projectModels2 {
        display: flex;
        justify-content: center;
    }
}

#projectModels{
        display: flex;
        .featureList{
            margin-left: -13px;
            .fTitle{
                color:#757506;
                font-size: 28px;
            }
            margin-top: 30px;
            list-style: none;
            font-weight: bold;
            font-size: 15px;
            .feature{
                margin-top:10px;
                text-align: center;
                }
            .feature:hover{
                text-decoration: underline coral;
            }
        }
}
#projectModels2{
        display: flex;
        .featureList{
            margin-left: -13px; 
            .fTitle{
                color:#757506;
                font-size: 28px;
                
            }
            margin-top: 30px;
            list-style: none;
            font-weight: bold;
            font-size: 15px;
        .feature2{
                margin-top:10px;
                text-align: center;
                }
            .feature2:hover{
                text-decoration: underline coral;
            }
        }
}
 #projectImg, #projectImg2{
        width:100%;
        height: 300px;
        border-radius: 8px;
    }


    
//Contact Me
#contactme_{
    list-style: none;
    font-size: 35px;
    text-align: center;
    .decor{
        text-decoration: underline;
    }
    li{
        margin-top: 10px;
        font-size:25px;
        font-weight: bolder;
        a:hover{
            color:#757506;  
        }    
    }
}
