//HOMEPAGE CSS
nav{
    .container{
       #nav-left{
            color: #b8b894;
            font-family:'Paytone One', sans-serif;
            text-decoration: none;            
            width: 480px;
        }
        @media screen and (max-width: 500px){
            #tituloProg{
                display:none
            }
        }
        #nav-left:hover{
            color:black;
        }
        #navbarResponsive{
            #nav-right{
                li{
                    a{
                        color:#e0e0d1;
                    }
                }
            }
        }
        #navbarResponsive{
            #nav-right{
                li{
                    a:hover{
                        color:black;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
 
.container{
    .row{
        .col-lg-8{
            #contenedor_de_articulos{
                a{
                    text-decoration: none !important;
                    h2,h3{
                        font-family:'Paytone One', sans-serif;
                        color:#b8b894;
                       
                        
                    }
                }
            }
        }
    }
}

.container{
    .row{
        .col-lg-8{
            #contenedor_de_articulos{
                a:hover{
                    h2,h3{
                        font-family:'Paytone One', sans-serif;
                        color: black;
                       
                    }
                }
            }
        }
    }
}
footer{
    .container{
        .row{
            .col-lg-8{
                #icon-list{
                    li{
                        a{ 
                            color:#b8b894;
                        }
                    }
                }
            }
        }
    }
}
footer{
    .container{
        .row{
            .col-lg-8{
                #icon-list{
                    li{
                        a:hover{ 
                            color:black;
                        }
                    }
                }
            }
        }
    }
}
//About Page

